node_modules

/packages/backend/interfaces
/packages/backend/levels
/packages/backend/middlewares
/packages/backend/utils
/packages/backend/webhooks
/packages/backend/services


/packages/backend/nest-cli.json
/packages/backend/main.ts
/packages/backend/app.module.ts
/packages/backend/telegram.module.ts
/packages/backend/telegram.update.ts

/packages/frontend/src
/packages/frontend/biome.formatter.json
/packages/frontend/biome.json
/packages/frontend/biome.linter.json
/packages/frontend/index.html

deploy.sh

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# dotenv environment variable files
.env
packages/backend/.env.development
packages/backend/.env.production
packages/frontend/.env.development
packages/frontend/.env.production
.env.development.local
.env.test.local
.env.production.local
.env.local
sessions.json
# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

/.yarn
